@import 'bootstrap/scss/bootstrap';

$blue:    #012e46;
$btn-link-color:#365b77;
$active: #557996;

#azul {
    background-color: $blue;
}

.buttonP {
    background-color: $btn-link-color;
    border-color: $btn-link-color;
}

.buttonP:hover {
    background-color: $active;
    border-color: $active;
}